img {
	max-width: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;

  &:not(.image-404) {
    background-color: rgba(0, 0, 0, 0.12);
  }

  &.image-404 {
    width: 100%;
  }
}

h1.error-not-found {
	color: $white;
}
